<!DOCTYPE html>
<html>
	<head>
		<title>Banvas Corfirm</title>
	</head>
	<body>
		<% if(err==0){ %>
			<script>
				var exdate = new Date();
				exdate.setDate(exdate.getDate() + 365);
				var id_value=escape("<%= id %>")+"; expires="+exdate.toUTCString();
				console.log(id_value);
				document.cookie="Banvas_id" + "=" + id_value;
				var token_value=escape("<%= token %>")+"; expires="+exdate.toUTCString();
				console.log(token_value);
				document.cookie="Banvas_token" + "=" + token_value;
				//setTimeout(function(){window.location.replace('/<%= id %>');},3000);
			</script>
		<% }
		else { %>
			<h1> Your confirmation token is Wrong!!! </h1> 
			<h1> Please register it again <h1>
			<h2> If you have any question, contact b99902006@ntu.edu.tw <h2>
			<h2> Redirect You To The Home Page </h2>
			<script>
				setTimeout(function(){window.location = '/'}, 3000);
			</script>
		<% } %>
	</body>
</html>
