<!DOCTYPE html>
<html>
	<head>
		<title>Banvas Corfirm</title>
	</head>
	<body>
		<% if(err==0){ %>
			<h1>Welcome To Banvas</h1>
			<h2>Make professional connect easier and closer</h2>
			<h1>Redirect You To Your Personal Page In 5 Seconds</h1>
			<script>
				var exdate = new Date();
				exdate.setDate(exdate.getDate() + 365);
				var id_value=escape("<%= id %>")+"; expires="+exdate.toUTCString();
				document.cookie="Banvas_id" + "=" + id_value;
				var token_value=escape("<%= token %>")+"; expires="+exdate.toUTCString();
				document.cookie="Banvas_token" + "=" + token_value;
				setTimeout(function(){window.location.replace('/'+<%= id %>);},3000);
			</script>
		<% }
		else { %>
			<h1> Your confirmation token is expired!!! </h1>
			<h2> Redirect You To The Home Page </h2>
			<script>
				setTimeout(function(){window.location = '/'}, 3000);
			</script>
		<% } %>
	</body>
</html>
