<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Banvas 行動名片夾</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 0px;
        padding-bottom: 0px;
        position: relative;
      }
    </style>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
	<link href="stylesheets/jquery.fancybox.css" rel="stylesheet">
	<link href="/stylesheets/index.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Banvas 行動名片夾(Beta)</a>
            <form class="navbar-form pull-right">
          	<div class="btn-group">
			<a class="btn login">登入</a>
				<ul class="dropdown-menu account">
					<form class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="inputEmail">Email</label>
							<div class="controls">
								<input type="text" id="email" placeholder="Email">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputPassword">Password</label>
							<div class="controls">
								<input type="password" id="password" placeholder="Password">
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<label class="checkbox">
									<input type="checkbox"> Remember me
								</label>
								<div id="sign_in_msg"></div><button type="submit" id="submit" class="btn">Sign in</button>
							</div>
						</div>
					</form>
				</ul>
			</div>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	<div id="backboard">
	</div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
          <div id="space"></div>	
	      <div class="hero-unit slide_container">
		  </div>
	<div>
	<div id="space"></div>
      <!-- Example row of columns -->
    <div class="container">
      <div class="row">
        <div class="span4">
          <i>	
          <h2>個人品牌</h2>
          <div id="brand">
          	<image src="/images/brand.png"></image>
          </div>
          <i>
          <p>透過編輯您的個人頁面，可以呈現您過去的經歷和專案作品，讓自己的專業能力被看到，進而行銷個人品牌</p>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div>
        <div class="span4">
          <h2>專業連結</h2>
          <div id="link">
          	<image src="/images/link.png"></image>
          </div>
          <i>
          <p>編輯自己的個人頁面後可快速產生QR CODE名片送印，讓收到您名片的朋友可透過我們的app收藏您的名片</p>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
       </div>
        <div class="span4">
          <h2>隨時瀏覽</h2>
          <div id="mobile">
          	<image src="/images/mobile.png"></image>
          </div>
          <i>
          <p>透過雲端管理收到的名片資料，可以跨平台隨時瀏覽收藏的名片資訊，方便洽公前先行瀏覽</p>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Copyright Banvas 行動名片夾 All rights reserved.</p>
      </footer>

    </div> <!-- /container -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap-transition.js"></script>
    <script src="/assets/js/bootstrap-alert.js"></script>
    <script src="/assets/js/bootstrap-modal.js"></script>
    <script src="/assets/js/bootstrap-dropdown.js"></script>
    <script src="/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/assets/js/bootstrap-tab.js"></script>
    <script src="/assets/js/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap-popover.js"></script>
    <script src="/assets/js/bootstrap-button.js"></script>
    <script src="/assets/js/bootstrap-collapse.js"></script>
    <script src="/assets/js/bootstrap-carousel.js"></script>
    <script src="/assets/js/bootstrap-typeahead.js"></script>
<script type="text/javascript" src="/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.9.2.custom.js"></script>
<script type="text/javascript" src='https://raw.github.com/documentcloud/underscore/master/underscore.js'></script>
<script type="text/javascript" src='https://raw.github.com/documentcloud/backbone/master/backbone.js'></script>
<script type="text/javascript" src="js/jquery.fancybox.js"></script>

<script type="text/javascript" src="/js/index.js"></script>
<script type="text/template" id="register-view">
	<h1>Register</h1>
	<form class='reg' id='Register'>
		<form class="form-horizontal">
			<div class="control-group">
				<div class="controls">
				Email:	<input class="input-medium" type="text" id="email" placeholder="Email">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
				First Name:	<input class="input-medium" type="text" id="first" placeholder="Firstname">
				Last Name:	<input class="input-medium" type="text" id="last" placeholder="Lastname">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
				Password:	<input class="input-medium" type="password" id="reg_pass" placeholder="Password">
				Check Password: <input class="input-medium" type="password" id="con_pass" placeholder="Check Password">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
				http://banvas-dev.herokuapp.com/<input class="input-medium" type="text" id="id" placeholder="Personal_ID">
				</div>
			</div>
		<div id="reg_error"></div>
		<button class="btn-large btn-primary" id='register' type='submit'>Register</button>
		</form>
		<a class="btn" href="#index">Back to Index</a>
	</form>
</script>
<script type="text/template" id="index-view">
	<div class= "slide">
	<div class="first slider top" background=url('w4.jpg')>
	        <h1>Welcome to Banvas!</h1>
	        <p>快速製作您的QR CODE個人名片，用更聰明的方式管理您的專業人際網絡，行銷個人品牌</p>
	        <p><a href="#register" class="register btn btn-primary btn-large">免費註冊 &raquo;</a></p>	
	</div>
	<div class="second slider">2222222</div>
	<div class="third slider">3333333</div>
	<div class="forth slider">4444444</div>
	<div class="fifth slider">5555555</div>
	<ul>
		<li><button type="button" value="first" class="focus">o</button></li>
		<li><button type="button" value="second">o</button></li>
		<li><button type="button" value="third">o</button></li>
		<li><button type="button" value="forth">o</button></li>
		<li><button type="button" value="fifth">o</button></li>
	</ul>
	</div>
</script>

  </body>
</html>
