<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="./signup" method="post">
   	Email<input type="text" name='email' value='ddmail2009@gmail.com'>
    Password<input type="password" name='password' value='default'>
    first_name<input type='text' name='first_name' value='default'>
    last_name<input type='text' name='last_name' value='default'>
    id<input type='text' name='id' value='default'>
	<button>Submit</button>
    </form>

    <form action='./list' method='post'>
    	<button>Get list</button>
    </form>
  </body>
</html>
