<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Banvas 行動名片夾| 註冊</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
     
    <link href="/lib/sign up/css/style.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <link rel="shortcut icon" href="../favicon.ico"> 
    
    <style> 
      @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Handlee);
      body {
        background: #eedfcc url(images/bg3.jpg) no-repeat center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
      }
      .container > header h1,
      .container > header h2 {
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,0.5);
      }
    </style>
    <!-- Le styles -->

    <!--<link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">!-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/assets/ico/favicon.png">
  </head>


    <div class="container">
      <section class="main">
        <form class="form clearfix">
          <h1><span class="sign-up">免費建立自己的名片</span></h1>
            <p class="reg">    
                <label for="firstName"><i class="icon-user"></i>使用者姓名</label>
                <input type="text" class="name" id="firstname" placeholder="名字">
                <input type="text" class="name" id="lastname" placeholder="姓氏">
                <label for="email"><i class="icon-envelope"></i>信箱</label>
                <input type="email" id="email" placeholder="電子信箱位置">
                <label for="password"><i class="icon-lock"></i>密碼</label>
                <input type="password" id="password" placeholder="密碼" name="Password">
                <label for="check"><i class="icon-check-empty"></i>確認密碼</label>
                <input type="password" id="check" placeholder="密碼確認" name="Password"> 
            </p>
          <div id="reg_error"></div>
            <button class="sign" id="register">
              <span>註冊</span>
            </button>
            <button class="log-fb">
              <span>Facebook登入</span>
            </button> 
        </form>
      </section>
    </div>
    <!-- jQuery if needed -->
    <script type="text/javascript" src="/lib/sign up/js/jquery.placeholder.min.js"></script>
    <script type="text/javascript">
    $(function(){
      $('input, textarea').placeholder();

      $(':text').on('input', function(){
        $('.address span').html($('#firstName').val() +'.'+ $('#lastName').val() );
      });

      $(':password').on('blur', function(){
        //輸入正確
        if( $('#password').val() == $('#check').val() && $('#check').val().length != 0 ){
          $("label[for='check'] i").attr('class','icon-check');
          $('#check').removeClass('warning');
        }
        //輸入錯誤
        else if( $('#password').val() != $('#check').val() && $('#check').val().length != 0 ){
          $("label[for='check'] i").attr('class','icon-check-empty');
          $('#check').addClass('warning');
        }
        //未輸入
        else{
          $("label[for='check'] i").attr('class','icon-check-empty');
        }
      });

    });
    </script>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap-transition.js"></script>
    <script src="/assets/js/bootstrap-alert.js"></script>
    <script src="/assets/js/bootstrap-modal.js"></script>
    <script src="/assets/js/bootstrap-dropdown.js"></script>
    <script src="/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/assets/js/bootstrap-tab.js"></script>
    <script src="/assets/js/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap-popover.js"></script>
    <script src="/assets/js/bootstrap-button.js"></script>
    <script src="/assets/js/bootstrap-collapse.js"></script>
    <script src="/assets/js/bootstrap-carousel.js"></script>
    <script src="/assets/js/bootstrap-typeahead.js"></script>
    <script type="text/javascript" src='https://raw.github.com/documentcloud/underscore/master/underscore.js'></script>
    <script type="text/javascript" src='https://raw.github.com/documentcloud/backbone/master/backbone.js'></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>


<script>
  $(window).ready(function(){
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '471817496195401',
        status     : true,
        cookie     : true,
        xfbml      : true
      });
    };

    (function(d, debug){
      var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
      ref.parentNode.insertBefore(js, ref);
    }(document, /*debug*/ false));
    
    var try_login = function(email, password, callback){
      $.post('/login', {email:email, password:password}, function(data){callback(JSON.parse(data))}, 'text');
    }

    $(".log-fb").click(function(){
      FB.login(function(fb_login){
        if(fb_login.status === 'connected'){
          FB.api('me', function(fb){
              FB.api('me?fields=picture.height(250).width(250).type(square)', function(pic){
                var email = fb.email;
                try_login(email, fb.id, function(err){
                  if(err.err == 0){
                    setCookie("Banvas_token",err.token,100);
                    setCookie("Banvas_id",err.id,100);
                    window.location.replace('/'+err.id);  
                  }
                  else if(err.err == 5){
                    $.post('/fb_signup',{fb:JSON.stringify(fb), pic:pic.picture.data.url}, function(err){
                      var err = JSON.parse(err);
                      if(err.err == 0){
                        try_login(email, fb.id, function(err){
                          if(err.err == 0){
                            setCookie("Banvas_token",err.token,100);
                            setCookie("Banvas_id",err.id,100);
                            window.location.replace('/'+err.id);  
                          }
                          else $('div#sign_in_msg').addClass('alert alert-error').html('註冊失敗，FB信箱已被註冊');
                        }, 'text');
                      }
                      else $('div#sign_in_msg').addClass('alert alert-error').html('註冊失敗，FB信箱已被註冊');
                    }, 'text');
                  }
                  else $('div#sign_in_msg').addClass('alert alert-error').html('註冊失敗，FB信箱已被註冊');
                }, 'text');
            });
          });
        }
      },{scope: 'email,user_work_history,user_education_history'});
      return false; 
    });
  });

  function setCookie(c_name,value,exdays){
    var exdate = new Date();
    exdate.setDate(exdate.getDate() + exdays);
    var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
    document.cookie=c_name + "=" + c_value;
  }
  
  function getCookie(c_name){
    var i,x,y,ARRcookies=document.cookie.split(";");
    for (i=0;i<ARRcookies.length;i++){   
      x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
      y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
      x=x.replace(/^\s+|\s+$/g,"");
      if (x==c_name){   
        return unescape(y);
      }   
    }                   
  }
</script>
