<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <form class='signup'>
      Email<input type="text" name='email' value='ddmail2009@gmail.com'>
      Password<input type="password" name='password' value='asd'>
      Name<input type="text" name='first_name' value='111'><input type="text" name='last_name' value='111'>
      id<input type="text" name='id' value='111'>
      <button> Signup </button>
    </form>


    <div class='dlogin'>
      <form class='login'>
      Email<input type="text" name='email' value='ddmail2009@gmail.com'>
      Password<input type="password" name='password' value='asd'>
      <button id='login'>Login</button>
      </form>
    </div>

    <div class='dlogout'>
      <form class='logout'>
      <button id='logout'>logout</button>
      </form>
    </div>

    <div class='dstatus'>
      <form class='getlist'>
      <button>getstatus</button>
      </form>
      <div class='status'></div>
    </div>

    <div class='dmodify'>
      <form class='modify'>
        input data you want to modified in JSON format<br/>
        ex. {"language":["english", "chinese", 2]}
        <input type='text' name='modify' id='modify_item' value='{"School":"NTU", "Skill":"Cook"}'>
        <button>modify</button>
      </form>
    </div>

    <div>
      <button id='www'>FB</button>
      <button id='FBpush'>FBPUSH</button>
    </div>
    
    <br/>
    <div>
      collect_id <input type="text" name='id' id='collect_id'>
      <button id="collect_list">collection LIST</button>
      <button id='collect_save'>collection SAVE</button>
      <button id='collect_delete'>collection DELETE</button>
    </div>

    <div>
      <button id='statistic_load'>Statistic load</button>
      <div id='statistic'></div>
    </div>

    <div>
      <form id='fsearch'>
        <input type='text' name='search'>
        <button id='search'>Search</button>
      </form>
    </div>

<script>
  $('#statistic_load').click(function(){
    $.post('/'+id+'/statistic', {token:token}, function(data){
      console.log(data);
      $("#statistic").html(data);
    },'text');
  })

  $('#fsearch').submit(function(){
    $.post('/search', {search:$("#fsearch input[name=search]").val()}, function(data){
      console.log(data);
    })
    return false;
  })

  $('#collect_save').click(function(){
    var save = {};
    var update = $('#collect_id').val().replace(' ','');
    update = update.split(',');

    for(i in update){
      save[update[i]] = 'default';
    }
    console.log(update);
    console.log('sending to /'+id+'/save : '+JSON.stringify(save));

    $.post('/'+id+'/save', {token:token, id:save},function(data){
      console.log(data);
    }, 'text');
  })

  $("#collect_list").click(function(){
    $.post('/'+id+'/collection_list', {token:token}, function(data){
      console.log(data);
    }, 'text');
  });

  $('#collect_delete').click(function(){
    var data = $('#collect_id').val().replace(' ', '');
    data = data.split(',');
    console.log('sending: ' + JSON.stringify({token:token, id:data}));
    $.post('/'+id+'/delete', {token:token, id:data}, function(data){
      console.log(data);
    }, 'text');
  })

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '471817496195401',
      status     : true,
      cookie     : true,
      xfbml      : true
    });

  };

  (function(d, debug){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
     ref.parentNode.insertBefore(js, ref);
   }(document, /*debug*/ false));

      var token = null;
      var id = null;

      var temp = {};
      $('#www').click(function(){
        FB.login(function(response) {
          if (response.authResponse) {
            console.log('Welcome!  Fetching your information.... ');
            FB.api('/me?fields=bio,birthday,education,work', function(response) {
              console.log(response);
              console.log(response['education']);
              for (i in response['education']){
                if( response['education'][i]['type'] == 'College' || response['education'][i]['type'] == 'Graduate School' ){
                  console.log(response['education'][i]['school']['name'])
                  temp['School'] = response['education'][i]['school']['name'];
                }
              }
              temp['Job_exp'] = JSON.stringify(response['work'][0]);
            });
          } else console.log('User cancelled login or did not fully authorize.');
        });
      })

      $('#FBpush').click(function(){
        console.log('FBpush!!!');
        temp['token'] = token;
        $.post('/'+id+'/modify', temp, function(message){
          console.log(message);
        })
      })

      $('.modify').submit(function(){
        try{
          var data = JSON.parse($('#modify_item').val());
          data['token'] = token;
          console.log(data);
          $.post('./'+id+'/modify', data, function(message){
            console.log(message);
          }, 'text')
        }
        catch(err){
          console.log(err);
          console.log('can"t understand midify item')
        }
        return false;
      })

      $('.getlist').submit(function(){
        $.post("./"+id+'/status', {token: token}, function(data){
          console.log(data);
          $('.status').html(data);
        }, 'text');
        return false;
      })

      $('.login').submit(function(){
        var data = {email:$(".login input[name=email]").val(), password:$('.login input[name="password"]').val()};
        $.post("./login", data, function(data){
          token = JSON.parse(data).token;
          id = JSON.parse(data).id;
          console.log(data);
        }, "text");
        return false;
      });

      $('.logout').submit(function(){
        $.post('./logout', {token: token}, function(data){
          console.log(data);
        }, 'text')
        return false;
      });
      $(".signup").submit(function(){
        var data = {email:$(".signup input[name=email]").val(), password:$('.signup input[name=password]').val(), first_name:$('.signup input[name=first_name]').val(), last_name:$('.signup input[name=last_name]').val(), id:$('.signup input[name=id]').val()}
        $.post('/signup', data , function(data){
          console.log(data);
        }, 'text');
        return false;
      })
    </script>
  </body>
</html>

<script>
  var FB_status = function(callback){
    // var status = {};
    FB.api('/me?fields=email,first_name,last_name,education,bio,picture.type(large),id,username,link,hometown', function(res){
      var status = {};
      status.fb_id = res.id;

      status.first_name = res.first_name;
      status.last_name = res.last_name;
      status.email = res.email;
      status.password = res.id;
      status.id = res.username;

      status.linked = {};
      status.linked.Facebook = res.link;
      status.Intro = res.bio;

      status.location = (res.hometown ? res.hometown.name : undefined );
      status.School = undefined;
      for(i in res.education){
        if(res[i].type=='College'||res[i].type=='Graduate School')
          status.School = res[i].school;
      }

      status.Image_pkt = (res.picture ? JSON.stringify({head_url:res.picture.data.url}) : undefined);
      callback(status);
    })
  }

</script>