<!DOCTYPE HTML>
<html lang= 'en-US'>
	<head>
		<meta charset="UTF-8">
		<title><%=userid %></title>
		<link href="stylesheets/no-theme/jquery-ui-1.9.2.custom.css" rel="stylesheet">
		<link href="stylesheets/user.css" rel="stylesheet">
	</head>
	<body>
		<div class= "header">
			<form name="input" class= "searchbar">
				<input type="text" name="search" class="search">
				<input type="submit" value="Search" class="search">
				<span class= "account"><span class="name">Default</span>
					<ul>
						<li>Account Setting</li>
						<li class="FB_import">Import from FB</li>
						<li class="edit">Edit</li>
						<li class="collect">My Wallet</li>
						<li>Share</li>
						<li>Help</li>
						<li class="logout">Log Out</li>
					</ul>
				</span>
			</form>
		</div>  
		<div class="person block">
			<img class="head" src='/uploads/<%= head_url %>'>
			<span class="id">
				<h1 class="name static">Banvas!!</h1>
				<span>School:</span><p class="school static">Default</p><br>
				<span>Position:</span><p class="position static">Default</p><br>
				<span>Intro:</span><p class="intro static">This is Introduction</p>
			</span>
		</div>
		<div class="social block">
			<a class="FB" href="http://www.facebook.com/wallymath">
				<img class="icon social FB" src="/material/facebook.png">
			</a>                        
		</div>
		<div class="block">
			<img class="icon" src="/material/ntulogo.jpg" >
			<p class="school static">Default</p><br>
			<p class="position static">Default</p>
		</div>
		<div class="block">
			<img class="icon" src="/material/TFSH.jpg" >
			<p class="high_school static">Default</p>             
		</div>
		<div class="block">
			<h1 class="skill_header">Skill</h1>
			<ul class="skill">
				<li><p class="static">PHP</p></li>
				<li><p class="static">Design</p></li>
				<li><p class="static">C</p></li>
			</ul>
		</div>
		<div id="timeline">
			<h1>Timeline</h1>
				<div id="timeline-embed"></div>
		</div>
	</body>
	<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.9.2.custom.js"></script>
	<script type="text/javascript" src="js/jquery-qr-plugin.js"></script>
	<script type="text/javascript" src='https://raw.github.com/documentcloud/underscore/master/underscore.js'></script>
	<script type="text/javascript" src="js/storyjs-embed.js"></script>
	<script type="text/javascript" src="js/user.js"></script>
	<script type="text/template" id= "add_time_form">
	<div>
		<form id="add_event">
			<label>Event Name</label>
			<input type="text" id="headline"></input><br>
			<label>Start Date</label>
			<input type="text" id="startDate"></input><br>
			<label>End Date</label>
			<input type="text" id="endDate"></input><br>
			<label>Description</label>
			<input type="text" id="text"></input><br>
			<label>URL</label>
			<input type="text" id="url"></input><br>
		</form>
	</div>
	</script>
	<script type="text/template" id= "Timeline_config">
	<div>
		<form id="config">
			<label>Timeline HeadName</label>
			<input type="text" id="headname"></input><br>
			<label>Timeline Description</label>
			<input type="text" id="time_des"></input><br>
			<label>StartDate</label>
			<input type="text" id="time_start"></input><br>
		</form>
	</div>
	</script>
</html>
