body {
  padding-top: 40px;
  padding-bottom: 0px;
}
#backboard {
  background-color: transparent;
  color: #333;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 2290.86669921875px;
  line-height: 18px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  width: 1279px;
  height: 10px;
  background-repeat: repeat;
  background-image: url(/images/backbar.png);
}
#brand {
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
  font-family: impact;
}
#link {
  height: 170px;
  width: 170px;
}
#mobile {
  height: 170px;
  width: 170px;
}
#space {
  height: 30px;
}
#fblogin {
  height: 70px;
  width: 300px;
}
#slideTwo{
  background-image: url(/images/centeral_banner.png);
}
#slideThree{
  background-image: url(/images/slideThree.png);
}

